body
{
margin: 0; 
background: #1c92d2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 100%;
}

.container
{
margin: 0% 3% 0% 3%;
justify-content: center;
width: 90%;
display: inline-grid;
grid-template-columns: 2fr;
grid-template-rows: 5fr;	
grid-template-areas:
"header header"
"title title"
"navBar navBar"
"chatbox news"
"placeholder news";
grid-column-gap: 1%;
grid-row-gap: 1%;
}

#news
{
	background-color: #3B4371;
	grid-area: news;
	color: white;
}

#header
{
	width: 100%;
	margin: 0;
	grid-area: header;
	background: transparent;
}

#chatbox
{
	grid-area: chatbox;

}

#navBar
{	
	grid-area: navBar;
}

#title
{
	grid-area: title;
	justify-self:center;
}

ul
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li 
{
    float: left;
}


li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #F3904F;
}
